@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'roboto' , sans-serif;
}

#heading {
  position: absolute;
  display: inline-block;
  width: 100%;
  font-family: monospace;
  text-shadow: 4em, 4em, 4em;
  text-align: center;
  font-size: 5em;
  color: rgb(93, 146, 177);
}

.wrap {
  width: 100%;
  overflow:auto;
}

.student {
  float:left;
  width: 50%;
  background: linear-gradient(90deg,#FF3CAC ,#784BA0);
  height: 100vh;
}

.teacher {
  float: right;
background-image: linear-gradient(90deg, #784BA0 , #2B86C5);
  height: 100vh;
  width: 50%;
}

.box {
  padding-top: 250px;
  width: 90%;
  margin: 0 auto;
}

.box p {
  font-size: 1.5em;
  margin-bottom: 100px;
}

.button-link {
  color: white;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  padding: 20px 50px;
  font-size: 2em;
  margin-top: 20px;
  display: block;
  background-color: rgb(93, 146, 177);
  color: white;
  cursor: pointer;
}

.button-link:hover {
  background-color: rgb(40, 98, 133);
}
