input {
  width: 75%;;
  height: 20px;
  margin-bottom: 5px;
  padding: 4px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

#answer {
  display: none;
}

#whats-your-name, #statistics {
  display: none;
}

.statistic-field {
  background: rgb(102, 102, 102);
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

#personal-statistic {
  background-color: rgb(33, 108, 150);
}

.statistic-name {
  display: inline-block;
}

.statistic-points {
  display: inline-block;
  float: right;
}

#confetti{
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
  visibility: hidden;
  transition: all 3s;
}

/* Mobile View */
@media (max-width: 750px) {
  .statistic-field {
    margin-bottom: 5px;
  }
}
