@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: rgb(237, 232, 232);
}

nav {
  background: rgb(93, 146, 177);
}

nav a {
  text-decoration: none;
  margin-left: 20px;
}

nav h1 {
  color: white;
  line-height: 70px;
  margin: 0;
  display: inline;
}

nav img {
  width: 65px;
  float: right;

}

main {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

input {
  width: 75%;;
  height: 20px;
  margin-bottom: 5px;
  padding: 4px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.button {
  background-color: rgb(93, 146, 177);
  color: white;
  padding: 15px 40px;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(40, 98, 133);
}

#whats-your-name, #statistics {
  display: none;
}

.statistic-field {
  background: rgb(102, 102, 102);
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

#personal-statistic {
  background-color: rgb(33, 108, 150)
}

.statistic-name {
  display: inline-block;
}

.statistic-points {
  display: inline-block;
  float: right;
}
