@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: rgb(237, 232, 232);
}

nav {
  background: rgb(93, 146, 177);
}

nav a {
  text-decoration: none;
  margin-left: 20px;
}

nav h1 {
  color: white;
  line-height: 70px;
  margin: 0;
  display: inline;
}

nav img {
  width: 65px;
  float: right;

}

main {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

h3:hover {
  color: rgb(93, 146, 177);
}

.button {
  background-color: rgb(93, 146, 177);
  color: white;
  padding: 15px 40px;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(40, 98, 133);
}
