input {
  width: 40%;
  text-align: center;
  margin-bottom: 15px;
}

.alert {
  margin: auto;
  width: 75%;
  padding: 2px;
  color: white;
  margin-bottom: 15px;
}

#alert-success, #alert-success {
  border: 3px solid rgb(93, 146, 177);
}

#alert-error, #alert-error {
  border: 3px solid rgb(218, 13, 61);
}

.alert p {
  font-size: 20px;
  color: black;
}

.closebtn {
  margin-left: 15px;
  color: rgb(96, 96, 96);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
