<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>100Points</title>
  <link rel="stylesheet" href="/static/css/index.css">
  <h1 id="heading">100Points</h1>
  <div class="wrap">
    <div class="student">
      <div class="box">
        <p>Wenn du ein Schüler bist und gerne Vokabeln lernen würdest klicke hier drauf. Danke</p>
        <a class="button-link" href="/learn/">Schüler</a>
      </div>
    </div>
    <div class="teacher">
      <div class="box">
        <p>Wenn sie ein Lehrer sind (außer Lateinlehrer),dann klicken sie doch bitte hier drauf</p>
        <a class="button-link" href="/teach/">Lehrer</a>
      </div>
    </div>
</div>
</body>
</html>
