<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>100Points</title>
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
  <h1 id="heading">100Points</h1>
  <div class="wrap">
    <div class="student">
      <div class="box">
        <p>Oft fällt es uns Schülern schwer Vokabeln zu lernen. Mit unserer Plattform 100Points macht es Spaß sich mit anderen Schülern deiner Klasse zu challengen und dabei einen positiven Lerneffekt zu haben. Erhalte jeden Tag bis zu 100 Punkte, indem Du nur 10 Vokabeln lernst.</p>
        <a class="button-link" href="/learn/">Schüler</a>
      </div>
    </div>
    <div class="teacher">
      <div class="box">
        <p>Mit unserer Plattform 100Points motivieren Sie ihre Schüler jeden Tag Vokabeln zu lernen. Ihre Schüler fühlen sich herausgefordert jeden Tag 10 Vokabeln zu lernen, in dem sie sich mit Klassenkameraden verleichen können. Sie müssen nur 10 Vokabeln vorgeben, die alle Schüler lernen.</p>
        <a class="button-link" href="/teach/">Lehrer</a>
      </div>
    </div>
</div>
</body>
</html>
