<!DOCTYPE html>
<html lang="de"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lernen - 100Points</title>

  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/learn.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/static/js/learn.js"></script>
</head>
<body>
  <nav>
    <a href="/"><h1>100Points<h1></a>
    <a href="https://www.hacktothefuture.de/de/startseite/"> <img src="https://www.hacktothefuture.de/fileadmin/_processed_/csm_HTTF_Logo_web_126d20ca25.jpg"></img>
  </nav>

  <main>
    <div id="interrogation">
      <h3>Abfrage</h3>
      <p>Was bedeutet <strong id="question">...</strong>?</p>
      <input id="input-answer" placeholder="Antwort"><br>
      <a id="continue" class="button">Weiter</a>
      <p id="answer"></p>
    </div>

    <div id="whats-your-name">
      <h3>Wie heißt Du?</h3>
      <input id="input-name" type="text" placeholder="Dein Name">
      <a id="name-submit" class="button">Fertig</a>
      <p>Du hast <strong id="points"></strong> von 100 Punkten erreicht.</p>
    </div>

    <div id="statistics">
      <h3>Statistiken</h3>
    </div>
  </main>




</body>
</html>
