<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lehren - 100Points</title>

  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/teach.css">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/static/js/teach.js"></script>
</head>
<body>
  <nav>
    <a href="/"><h1>100Points</h1></a>
    <a href="https://www.hacktothefuture.de/de/startseite/" target="_blank">
      <img src="https://www.hacktothefuture.de/fileadmin/_processed_/csm_HTTF_Logo_web_126d20ca25.jpg">
    </a>
  </nav>

  <main>
    <div id="alert-success" class="alert" style="display: none;">
      <span class="closebtn">&times;</span>
      <p></p>
    </div>

    <div id="alert-error" class="alert" style="display: none;">
      <span class="closebtn">&times;</span>
      <p></p>
    </div>

    <h3>neue Vokabeln eingeben</h3>

    <input id="question-1" type="text" name="" value="Haus" placeholder="Frage 1">
    <input id="answer-1" type="text" name="" value="house" placeholder="Antwort 1">
    <br>
    <input id="question-2" type="text" name="" value="Baum" placeholder="Frage 2">
    <input id="answer-2" type="text" name="" value="tree" placeholder="Antwort 2">
    <br>
    <input id="question-3" type="text" name="" value="Computer" placeholder="Frage 3">
    <input id="answer-3" type="text" name="" value="computer" placeholder="Antwort 3">
    <br>
    <input id="question-4" type="text" name="" value="Ente" placeholder="Frage 4">
    <input id="answer-4" gitype="text" name="" value="duck" placeholder="Antwort 4">
    <br>
    <input id="question-5" type="text" name="" value="Hund" placeholder="Frage 5">
    <input id="answer-5" type="text" name="" value="dog" placeholder="Antwort 5">
    <br>
    <input id="question-6" type="text" name="" value="Katze" placeholder="Frage 6">
    <input id="answer-6" type="text" name="" value="cat" placeholder="Antwort 6">
    <br>
    <input id="question-7" type="text" name="" value="Schule" placeholder="Frage 7">
    <input id="answer-7" type="text" name="" value="school" placeholder="Antwort 7">
    <br>
    <input id="question-8" type="text" name="" value="Apfel" placeholder="Frage 8">
    <input id="answer-8" type="text" name="" value="apple" placeholder="Antwort 8">
    <br>
    <input id="question-9" type="text" name="" value="Banane" placeholder="Frage 9">
    <input id="answer-9" type="text" name="" value="banana" placeholder="Antwort 9">
    <br>
    <input id="question-10" type="text" name="" value="" placeholder="Frage 10">
    <input id="answer-10" type="text" name="" value="" placeholder="Antwort 10">
    <br>

  <a id="submit-teach-form" class="button">Bestätigen</a>
  </main>
</body>
</html>
